*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}


.header{
    min-height: 60vh;
    width: 100%;
    background-image: url(forumwallpaper.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}


.forum{
    min-height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: black;
}




/*i dont know if hashtag on body is correct usage */
#body{
    font-family: 'Oswald', sans-serif;
}

#navbar{
    position: absolute;
    top: 0;
    z-index: 10;
}

.navbar{
    padding: 0 !important;
    
}

.navbar-brand img{
    height: 90px;
    
}

.navbar-nav li{
    padding: 0 10px;

    

}

.navbar-nav li a{
    color: #fff !important;
}



.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

.text-box{
    text-align: center;
    color: #fff;
}

.navbar ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in;

}
.navbar ul li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 200ms ease-out;
    
}

h1{
    text-align: center;
}