*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}


.header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(16, 9, 158, 0.7),rgba(0, 0, 0, 0.7)),url(sad.png);
    background-size: cover;
    background-position: center;
    position: relative;
}




/*i dont know if hashtag on body is correct usage */
#body{
    font-family: 'Oswald', sans-serif;
}

#navbar{
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(180, 179, 179, .2); 
    width: 100%;
}

.navbar{
    padding: 0 !important;
    
}

.navbar-brand img{
    height: 90px;
    
}

.navbar-nav li{
    padding: 0 10px;

    

}

.navbar-nav li a{
    color: #fff !important;
}



.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

.text-box{
    text-align: center;
    color: #fff;
}

.navbar ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in;

}
.navbar ul li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 200ms ease-out;
    
}

h1{
    text-align: center;
}


.partTwo{
    
    /*change color later */
    
    background-image: linear-gradient(rgb(21, 208, 246), rgb(10, 69, 98));
    width: 100%;
    min-height: 600vh;
    

}

.rowOne{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.columnOne{
    flex-basis: 40%;
    background: rgba(20, 55, 211, 0.2);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 6px;
    box-sizing: border-box;
    margin-right: 200px ;
}

.columnTwo{
    margin-bottom: 5%;
    box-sizing: border-box;
    border-radius: 1000px;
    position: center;
    background: rgba(20, 55, 211, 0.2);
    margin-left: 270px;
    padding: 30px 30px;
}

.subheadingOne{
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
    text-align: left;
}

.paragraphOne{
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
    
}

@media(max-width: 700px){
    .rowOne{
        flex-direction: column;
    }
}

.rowTwo{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.columnThree{
    flex-basis: 40%;
    background: rgba(20, 55, 211, 0.2);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 6px;
    box-sizing: border-box;
    margin-left: 75px;
    margin-right: 75px;
}

.subheadingTwo{
    color: #fff;
    font-size: 25px;
}

.paragraphTwo{
    color: #fff;
    font-size: 15px;
    text-align: center;
}

@media(max-width: 700px){
    .rowTwo{
        flex-direction: column;
    }
}

.graphA{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
      
}

.sectionThree{
    min-height: 75vh;
    width: 100%;
    background-color: #22AFFF;
    background-size: cover;
    background-position: center;
    position: relative;
}

.statsHead{
    color: white;
}
